.headbox{
  background-image: url("./backimg.png"); 
  background-size: cover;  
  background-repeat: no-repeat;  
  background-position: center center;
}

.slideInLeft {
  transition: transform 0.2s ease-in-out;
  border: 2px solid black;
}

.slideInRight { 
  transition: transform 0.2s ease-in-out;
  border: 2px solid black;
}

/* hover effect */

.slideInLeft:hover {
  transform: scale(1.2);
  color: rgb(0, 50, 153);
  border: 2px solid rgb(40, 164, 252);
}

.slideInRight:hover {
  transform: scale(1.2);
  color: rgb(0, 50, 153);
  border: 2px solid rgb(40, 164, 252); 
} 

/* entrance effect */
