
.userDetail{
    display: grid; 
    grid-template-columns: repeat(4,1fr);    
}

.userDetail span{
    font-weight: 700; 
} 

.fullbox{
    box-shadow: rgba(100, 100, 111, 0.308) 0px 7px 29px 0px; 
    padding: 10px; 
}

 



