.headbox {
  /* background-color: rgba(255, 0, 0, 0.731);  */
  transition: clip-path 0.4s ease-in-out;
  z-index: 100;
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 55%);
}

.topbox {
  background: linear-gradient(to right, #c04848, #630063);
  display: flex;
  align-items: center;
  gap: 1px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.topbox .text {
  width: 0;
  font-size: medium;
  overflow: hidden; 
  display: flex;
  color: white;
  justify-content: center;
  flex-wrap: nowrap;
  /* border: 2px solid rgb(255, 255, 255); */
  max-height: 26px;
  transition: width 0.3s ease-in-out;
}

.text:hover {
  width: 100px;
}

.headbox:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%, 35% 58%, 0 58%);
}

.headbox:hover .text {
  width: 100px;
}

.headbox:hover .options {
  right: 40px;
}

/* heartBeat */  

/* option box */

.options {
  position: relative;
  left: 60px;
}

.options > * {
  background-color: white;
  border: 2px solid green;
  padding: 6px 6px 6px 15px;
  border-radius: 20px;
}
