
.myFormBox {
  display: grid;
  gap: 14px;
  width: 100%;
}

.backimg{
  background-image: url("https://images.pexels.com/photos/3912297/pexels-photo-3912297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); 
  background-size: cover;  
} 

.name h3{
  text-shadow: 0 0 3px #ffffff;
}

.name>*:nth-child(1) span{
  font-size: large; 
  position: relative;
  bottom: 5px; 
  left: -8px;  
}


.formbox {
  display: grid;
  gap: 5px;
  width: 100%;
}
