.App {
  text-align: center; 
  display: flex;   
  min-height: 100vh; 
}

.App>div:nth-child(1){
  transition: all 0.4s ease-in-out;  
  border: 1px solid rgb(215, 215, 215) ;  
}

/* .App>div:nth-child(2)>*{
  border: 2px solid rgb(255, 0, 0) ;
  transition: all 1s ease-in-out;   
} */

.theam_btn{ 
  font-weight: bolder; 
  width: 26px;
  height: 26px; 
  padding: 5px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 50%;     
}

.dark{
  background-color: rgb(18, 25, 38) ; 
  color: white;  
}

.light{
  background-color: white; 
  color: rgb(18, 25, 38); 
}


